body {
    margin: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Stili dell'header/nav  */

header {
    
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.function {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;

}

ul li {
    font-size: 15px;
    padding: 12px;
}

#droplogo {
    display: block;
    padding-left: 10px;

}

/* classe button centralizzata per tutta la pagina  */

.button {
    color: white;
    background-color: rgb(94, 94, 248);
    padding: 7px;
}

/* Stili Sezione Jumbotron */

.jumbotron {
    width: 100%;
    background-color: aqua;
    /* height: 700px; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container70 {
    width: 70%;
    /* display: flex; */
    height: 100%;
    margin: auto;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    padding: 30px;
}

.jumbottom {
    display: flex;
    justify-content: space-between;
}

.jumbo-left {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-basis: 45%; */
    width: 45%;

}

.jumbo-left div {
    margin-top: 20px;
    
}

.jumbo-right {
    flex-basis: 55%;
    position: relative;

}

#jumbo-img {
    width: 100%;
    display: block;
    position: absolute;
    right: 0;
    bottom: -50px;
}

#arrow {
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Inizio sezione Main  */

/* Container60 allinea tutto fino a Brand Gallery esclusa */

.container60 {
    margin: auto;
    width: 60%;
}

/* Piano di Business  */

/* Business Top  */

.business-top { padding-top: 100px;
}

.plan {
    padding-top: 15px;
}

.business-top h2 {
    padding: 5px;
    font-size: 45px;

}
.plan input[type="radio"] { 
    padding-right: 20px;
}

/* Business Plan diviso in 3 macro-colonne. Comprende anche la sezione sottostante ENterprise  */

.business-plan {
    margin-top: 80px;
    margin-bottom: 100px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border: 1px solid black;
}

.col:only-child {
    padding: 30px;
}

.plan-type {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid black;

}

/* Stile per tipo di abbonamento */

.subscription, .free-subscription, .buy, #pad, .highlights {
    padding: 20px;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subscription h3 {
    font-size: 20px;
    font-weight: 900;
}
.price {
    font-weight: 900;
}
.frequency {
    color: gray;
    font-style: italic;
    font-size: 10px;
}
.features {
    list-style: none;
    padding-left: 10px;
}

.free-subscription {
    margin: auto;
    text-align: center;
}
.buy-now {
    color: rgb(103, 103, 236);
    text-decoration: underline;
}

#pad {
    
}

.line {
    width: 40px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-top: 1px solid gray;
}

.highlights h4 {
    font-weight: 900;
    padding-left: 15px;
}

.highlights {
    display: flex;
    flex-direction: column;
}

.list {
    list-style: none;
     padding: 0;
}

.list li {
    padding-left: 10px;
}

.list li::before {
    color: rgb(127, 127, 230);
    content: '\f00c';
    padding-right: 10px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 20px;

}

/* Mini sezione Enterprise  */

.enterprise {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 1px solid black;
}

.enter-bottom {
    display: flex;
    justify-content: space-between;
}

.enter-left {
    flex-basis: 65%;
    padding-left: 25px;
    /* display: flex; */   
}

.enter-right {
    flex-basis: 30%;
    padding-top: 30px;
    text-align: center;
}

.enter-left h6 {
    margin: 0;
}

/* Sezione Partner  */

.partner {
    display: flex;
    margin-top: 150px;
}

.partner-img {
    flex-basis: 60%;
}

.partner-img img {
    max-width: 100%;
}

.partner-text {
    flex-basis: 40%;
    padding:30px;
}